@using res = CV.Presentation.Resources.Home;
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/controllers/Home/HomeCtrl.js")"></script>
}

<div class="row" ng-controller="HomeCtrl">
    <h1 class="col-xs-12 text-center" ng-init="resources.name = '@res.Index.Name'" ng-bind="resources.name"></h1>

</div>
