@using CV.Models.App
@model List<EnlaceViewModel>

<div class="navbar navbar-inverse navbar-fixed-top" ng-init="enlaces = @Json.Encode(Model)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="{{$root.AppRoot}}" ng-bind="$root.AppName" class = "navbar-brand"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="enlace in enlaces"><a ui-sref="{{enlace.Url}}" ng-bind="enlace.Texto"></a></li>                        
            </ul>
        </div>
    </div>
</div>