@using CV.Presentation.Models.Pruebas
<div class="row">

    <div class="col-xs-12">
        <h2>Grid</h2>
    </div>
    <div class="col-xs-12">
        
        <kendo-grid options="mainGridOptions">
        </kendo-grid>

    </div>

</div>